services:
  mongodb:
    image: mongo:latest
    container_name: pokedex_mongodb
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - ${MONGO_DATA_PATH}:/data/db
    environment:
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: pokedex_api
    restart: always
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - PORT=${API_PORT}
    depends_on:
      - mongodb

  app:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: pokedex_app
    restart: always
    ports:
      - "${APP_PORT}:80"
    depends_on:
      - api
