:host {
  display: block;
  perspective: 2500px;
}

/* Container who holds both parts */
.pokedex-body {
  transform-style: preserve-3d;
  display: flex;
  transition: all 0.7s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
