name: CD - Deploy Pokedex

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy to Production
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          # O GitHub Actions já faz o checkout na pasta do Runner
          # Não precisa de SSH, os comandos abaixo rodam direto no seu Arch
          docker-compose up -d --build
          docker image prune -f