name: CD - Deploy Pokedex
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    name: Deploy to Production
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          rm -f .env
          
          echo "MONGO_INITDB_DATABASE=${{ vars.MONGO_INITDB_DATABASE }}" >> .env
          echo "MONGO_PORT=${{ vars.MONGO_PORT }}" >> .env
          echo "MONGO_DATA_PATH=${{ vars.MONGO_DATA_PATH }}" >> .env
          echo "API_PORT=${{ vars.API_PORT }}" >> .env
          echo "JWT_SECRET=${{ secrets.JWT_SECRET }}" >> .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
          echo "APP_PORT=${{ vars.APP_PORT }}" >> .env
          echo "NG_APP_API_URL=${{ vars.NG_APP_API_URL }}" >> .env

          # environment variables for the app builder container
          # to set correct permissions on the output folder
          echo "USER_ID=$(id -u)" >> .env
          echo "GROUP_ID=$(id -g)" >> .env

      - name: Deploy with Docker Compose
        run: |
          docker-compose up -d --build
          docker image prune -f